[project]
	state = active
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group Acer A700 Team
	forgeCommitter = group Acer A700 Team
	push = +force group Acer A700 Team
	label-Code-Review = -2..+2 group Acer A700 Team
	label-Verified = -1..+1 group Acer A700 Team
	submit = group Acer A700 Team
